@layout('layouts/master')

@section('body')
  <main>
    <div>
      <h1 class="title">Instaclone</h1>
      <p class="subtitle">
        <a title="Ajouter une nouvelle photo" href="/pictures" class="button is-primary">Envoyer photo</a>
      </p>

      <div>
        @each(picture in pictures)
        <div>
          <img src="/pictures/{{ picture.id }}" alt="picture" width="250px" />
        </div>
        @end
      </div>

    </div>
  </main>
@end